
IDE.log

.metadata/

RemoteSystemsTempFiles/

.analytics

platform_aes/.log/

platform_aes/logs/

.vscode/

.sdk/

vivado_aes/

platform_aes/

vivado_sca/vivado_sca.tmp/

vivado_ip/managed_ip_project/managed_ip_project.tmp/

*.log

cmd_sca/_ide/

vivado_ip/managed_ip_project/managed_ip_project.cache/

.idea/
/media/temp/

vivado_sca/vivado_sca.ip_user_files/

py_sca/__pycache__/

platform_sca/tempdsa/

data/
